<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Work Flow Staff</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <div class="sidebar d-flex flex-column p-3">
        <h4 class="text-white mb-4">Work Flow Staff</h4>
        <nav class="nav nav-pills flex-column">
            <a class="nav-link @(ViewData["Title"].ToString() == "Dashboard" ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index">
                <i class="bi bi-house-door-fill me-2"></i> Dashboard
            </a>
            <a class="nav-link @(ViewData["Title"].ToString() == "Empleados" ? "active" : "")" asp-area="" asp-controller="Empleados" asp-action="Index">
                <i class="bi bi-person-workspace me-2"></i> Empleados
            </a>
            <a class="nav-link @(ViewData["Title"].ToString() == "Departamentos" ? "active" : "")" asp-area="" asp-controller="Departamentos" asp-action="Index">
                <i class="bi bi-building-fill me-2"></i> Departamentos
            </a>
            <a class="nav-link @(ViewData["Title"].ToString() == "Cargos" ? "active" : "")" asp-area="" asp-controller="Cargos" asp-action="Index">
                <i class="bi bi-briefcase-fill me-2"></i> Cargos
            </a>
        </nav>
    </div>
    <div id="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>